extends layout
block contenido
  div
    h1(class="blue") Listado de usuarios
    a(href="/formulario", class="btn-floating btn-large waves-effect waves-light red") #[i(class="material-icons") add] 
    table(class="striped")
      tr
        th nombre
        th Apellido
        th Edad
        th Pais
        th
        th
      for u in usuarios
        tr 
          td #{u.nombre}
          td #{u.apellido}
          td #{u.edad}
          td #{u.pais}
          td #[a(href="/modificar", class="btn-floating btn-large waves-effect waves-light red") #[i(class="material-icons") mode_edit] ]
          td.
            #[form(action="borrar" method="POST") #[input(type="hidden" name="_id" value="#{u._id}" )] #[button(type="submit", class="btn-floating btn-large waves-effect waves-light red") #[i(class="material-icons") delete]]]